@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(98, 68, 100);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    flex-wrap: wrap;
}

.logo {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.navigation a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    margin: 5px;
}

.navigation a:hover {
    color: black;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: rgb(98, 68, 100);
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: aliceblue;
    font-size: 3em;
    font-weight: 600;
    font-size: clamp(2em, 5vw, 3em);
}

.main h3 {
    color: rgb(98, 68, 100);
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.social-icons a {
    color: aliceblue;
    font-size: 1.7em;
    padding-right: 20px;
    transition: 0.9s ease;
}

.social-icons a:hover {
    color: rgb(98, 68, 100);
    transform: scale(1.1);
}

.title {
    color: rgb(98, 68, 100);
    display: flex;
    justify-content: center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    font-size: clamp(1.8em, 3vw, 2.2em);
}

.card a {
    color: rgb(98, 68, 100);
    background-color: aliceblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 3.5px 25px rgba(1, 1, 1, 0.4);
    border-radius: 10px;
    padding: 25px;
    transition: 0.8s ease;
}

.card {
    transition: 0.8s ease;
}

.card:hover {
    transform: scale(1.1);
}

.Aboutmecontent {
    text-align: center;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid rgb(98, 68, 100);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.Contactcontent {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.ContactCard {
    background-color: white;
    text-align: center;
    width: 100%;
    box-shadow: 0 3.5px 25px rgba(1, 1, 1, 0.4);
    border-radius: 10px;
    padding: 25px;
    margin: 15px auto;
    transition: 0.8s ease;
}

.ContactCard a {
    text-decoration: none;
}

.ContactCard:hover {
    transform: scale(1.1);
}

.footer {
    background-color: rgb(98, 68, 100);
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .ContactCard {
        width: 100%;
        margin: 15px auto;
    }

    .social-icons a {
        font-size: 1.4em;
    }

    .timeline::after {
        left: 25px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}
